<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="MARS Info">
  <meta name="author" content="Margaret Thorpe">

  <title>MARS Info</title>
  
  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/heroic-features.css" rel="stylesheet">

  <!-- Additional custom styling -->
  <link rel="stylesheet" href="css/styles.css">

</head>

<body>
  <!-- Page Content -->
  <div class="container">
    <div class="row"
         style="background:transparent url('MarsBackground.jpg') no-repeat center center /cover">
      <div class = "col-md-8">

        <!-- Jumbotron Header -->
       <header class="jumbotron my-4" > 
          <h1 class="display-1">Mission to Mars</h1>
          <p class="lead">
            <a class="btn btn-dark btn-lg" href="../scrape" role="button">Get Latest Mars Info!</a>
          </p>
       </header> 
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-md-8 mb-1 px-1">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Latest Mars News</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          </div>
      </div>
    </div>
      

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Margaret Thorpe 2021</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
