<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="MARS Info">
  <meta name="author" content="Margaret Thorpe">

  <title>MARS Info</title>
  
  <!-- Bootstrap core CSS -->
  <link href="../static/css/bootstrap.min.css" rel="stylesheet">


  <!-- Custom styles for this template -->
  <link href="../static/css/heroic-features.css" rel="stylesheet">

  <!-- Additional custom styling -->
  <link rel="stylesheet" href="../static/css/styles.css">

</head>

<body>
  <!-- Page Content -->
  <div class="container">
    <div class="row"
         style="background:transparent url('../static/MarsBackground.jpg') no-repeat center center /cover">
      <div class = "col-md-8">

        <!-- Jumbotron Header -->
       <header class="jumbotron my-4" > 
          <h1 class="display-1">Mission to Mars</h1>
          <p class="lead">
            <a class="btn btn-dark btn-lg" href="../scrape" role="button">Get Latest Mars Info!</a>
          </p>
       </header> 
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-md-8 mb-1 px-1">
        <div class="row">
          <div class="card h-25">
            <div class="card-body">
              <h5 class="card-title">Latest Mars News</h5>
              <h6 class="card-subtitle mb-2 text-muted"> {{ mars_data.news_title }}</h6>
              <p class="card-text"> {{ mars_data.news_teaser }} </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Featured Mars Image</h5>
              <img class="card-img-bottom img-fluid" src="{{mars_data.featured_image_url}}" alt="Featured Image of Mars">
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-8 mb-1 px-1">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Facts about the Red Planet</h5>
            {{mars_data.mars_facts_table | safe}}
          </div>
        </div>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-12">
        <h2>Mars Hemispheres</h2>
      </div>

      <!-- 2 rows x 2 columns of Hemisphere image cards  -->
      
      <div class="col-lg-6 col-md-6 mb-1 px-1">
          <div class="card h-100">
            <img class="card-img-bottom img-fluid" src="{{mars_data.hemisphere_image_urls[0].img_url}}" alt="Mars Hemisphere Image" width="500" height="175">
            <div class="card-body">
              <h4 class="card-title">{{mars_data.hemisphere_image_urls[0].title}}</h4>
            </div>
          </div>
        </div>
      <div class="col-lg-6 col-md-6 mb-1 px-1">
        <div class="card h-100">
          <img class="card-img-bottom img-fluid" src="{{mars_data.hemisphere_image_urls[1].img_url}}" alt="Mars Hemisphere Image" width="500" height="175">
          <div class="card-body">
            <h4 class="card-title">{{mars_data.hemisphere_image_urls[1].title}}</h4>
          </div>
        </div>
      </div>
    </div>
  <div class="row text-center">
    <div class="col-lg-6 col-md-6 mb-1 px-1">
      <div class="card h-100">
        <img class="card-img-bottom img-fluid" src="{{mars_data.hemisphere_image_urls[2].img_url}}" alt="Mars Hemisphere Image" width="500" height="175">
        <div class="card-body">
          <h4 class="card-title">{{mars_data.hemisphere_image_urls[2].title}}</h4>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 mb-1 px-1">
      <div class="card h-100">
        <img class="card-img-bottom img-fluid" src="{{mars_data.hemisphere_image_urls[3].img_url}}" alt="Mars Hemisphere Image" width="500" height="175">
        <div class="card-body">
          <h4 class="card-title">{{mars_data.hemisphere_image_urls[3].title}}</h4>
        </div>
      </div>
    </div>
      
  </div> <!-- .row -->
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Come visit the Red Planet soon!</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="../static/vendor/jquery/jquery.min.js"></script>
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
