<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Landing Page for Github Project Page">
  <meta name="author" content="Margaret Thorpe">

  <title>MARS Info</title>
  
  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/heroic-features.css" rel="stylesheet">

  <!-- Additional custom styling -->
  <link rel="stylesheet" href="css/styles.css">

</head>

<body>
  <!-- Page Content -->
  <div class="container">
    <div class="row"
         style="background:transparent url('MarsBackground.jpg') no-repeat center center /cover">
      <div class = "col-md-8">

        <!-- Jumbotron Header -->
        <header class="jumbotron my-4">
          <h1 class="display-4">Mission to Mars</h1>
          <p class="lead">
            <a class="btn btn-primary btn-lg" href="../scrape" role="button">Get Latest Mars Info!</a>
          </p>
        </header>
      </div>
   
    <!-- Create a column to the right for the chart cards and the first row -->
    <div class = "col-md-4">
      <div class="row text-center">

    <!-- 2 rows x 2 columns of "Thumbnail" cards to the right of the screen  -->
    
      <div class="col-lg-6 col-md-6 mb-1 px-1">
        <div class="card h-100">
          <img class="card-img-top img-fluid" src="assets/USCases.png" alt="US COVID-19 Case Counts" width="500" height="175">
          <div class="card-footer">
            <a href="CaseCounts.html" class="btn btn-primary">Case Counts</a>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-6 mb-1 px-1">
        <div class="card h-100">
          <img class="card-img-top img-fluid" src="assets/AID_Over_Time_In_USA_line.png" alt="US Indicators of Anxiety & Depression" width="500" height="175">
            <div class="card-footer">
            <a href="IADPercent.html" class="btn btn-primary">IAD%</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row text-center">
      <div class="col-lg-6 col-md-6 mb-1 px-1">
        <div class="card h-100">
          <img class="card-img-top img-fluid" src="assets/IAD_cases_US_scatter.png" alt="COVID Cases vs. IAD%" width="500" height="175">
           <div class="card-footer">
            <a href="CasesIAD.html" class="btn btn-primary">Cases-IAD%</a>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-6 mb-1 px-1">
        <div class="card h-100">
          <img class="card-img-top img-fluid" src="assets/IAD_cases_US_regression.png" alt="COVID Cases vs. IAD% - Rgression" width="500" height="175">
           <div class="card-footer">
            <a href="Regression.html" class="btn btn-primary">Regression</a>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Margaret Thorpe 2021</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
